<form-message></form-message>
<form
	[formGroup]="badgeClassForm.rawControl"
	#formElem
	(ngSubmit)="onSubmit()"
	novalidate
	class="l-responsivelist"
>
	<!-- General Details Panel -->
	<div class="formsection">
		<!-- <div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Badge Basics
			</h2>
		</div> -->

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Bases do Badge</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				As imagens do badge podem ser PNGs ou SVGs. Todos os campos são necessários.
			</p>
			<a href="https://openbadges.org/"
			   class="u-text-outlink"
			>Aprenda mais sobre badges
				<svg icon="icon_external_link"></svg>
			</a>
		</div>
		<div class="formsection-x-body">

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-image
					#imageField
					label="Image"
					imageLoaderName="badge"
					[newDropZone]="true"
					[generateRandom]="true"
					(generateRandomImage)="generateRandomImage()"
					class="l-formimageupload-x-upload"
					[placeholderImage]="badgeClassPlaceholderImageUrl"
					[control]="badgeClassForm.rawControlMap.badge_image"
				>
				</bg-formfield-image>
				<badge-studio #badgeStudio
				              [hidden]="true"
				></badge-studio>
			</div>

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_name"
					label="Name"
					[errorMessage]="{ required: 'Please enter a badge name' }"
					[autofocus]="true"
				></bg-formfield-text>
			</div>

			<div class="forminput">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_description"
					label="Short Description"
					id="badgeclass_description_input"
					placeholder="A short summary of this achievement."
					[errorMessage]="{ required: 'Please enter a description' }"
					[multiline]="true"
				></bg-formfield-text>
			</div>

		</div>
	</div>

	<!-- Criteria Panel -->
	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Critério
				<span>(É obrigatório pelo menos um campo.)</span>
			</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">O que são critérios?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				O campo de critérios descreve exatamente o que deve ser feito para ganhar este emblema. Alguns emissores escolhem um URL em seus
                                site como uma página promocional que explica essa oportunidade de selo e como ganhá-lo
			</p>
		</div>
		<div class="formsection-x-body">

			<div class="u-margin-bottom2x">
				<div class="mdeditor">
					<div class="mdeditor-x-editor">
						<p
							[hidden]="!alignmentFieldDirty || !badgeClassForm.hasError('criteriaRequired')"
							class="u-text u-margin-bottom2x u-text-error"
						>Either text or URL is required.</p>

						<bg-formfield-markdown
							[control]="badgeClassForm.rawControlMap.badge_criteria_text"
							label=" Como o destinatário ganha este badge?"
							class="l-formsection-x-inputoffset"
							[errorMessage]="''"
						></bg-formfield-markdown>
					</div>

				</div>
			</div>

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_criteria_url"
					label="URL"
					[urlField]="true"
					fieldType="url"
					errorMessage="URL para a página de critérios do selo"
				></bg-formfield-text>
			</div>

		</div>
	</div>

	<!-- alignments -->
	<div *ngIf="alignmentsEnabled"
	     class="formsection"
	>
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Alinhação
				<span>(Opcional)</span>
			</h2>
			<button
				type="button"
				(click)="disableAlignments()"
				class="buttonicon buttonicon-link"
			>
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">O que é alinhamento?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Um badge aberto pode opcionalmente se alinhar a um padrão educacional. As informações de alinhamento podem ser relevantes para as pessoas
                                visualizar os badges premiados de um ganhador ou para um ganhador em potencial que está decidindo se deseja solicitar o selo.
			</p>
		</div>
		<div class="formsection-x-body">

			<ng-container *ngFor="let alignment of badgeClassForm.controls.alignments.controls; let i=index">
				<div class="l-flex l-flex-1x l-flex-justifybetween u-margin-bottom2x">
					<h3 class="u-text-body-bold u-text-dark1">{{ alignment.controls.target_name.value }}</h3>
					<button
						*ngIf="badgeClassForm.controls.alignments.controls.length > 1"
						type="button"
						(click)="removeAlignment(alignment)"
						class="u-text-link"
					>Remove
					</button>
				</div>
				<div class="forminput u-margin-bottom6x">
					<div class="forminput-x-inputs">

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_name"
							label="Nome"
							[errorMessage]="{required:'Por favor, insira um nome de alinhamento'}"
							id="alignment_name_{{ i }}"
						></bg-formfield-text>

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_url"
							label="URL"
							[errorMessage]="{required:'Insira uma URL de alinhamento'}"
							[urlField]="true"
							id="alignment_url_{{ i }}"
						></bg-formfield-text>

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_description"
							label="Descrição curta"
							[multiline]="true"
							id="alignment_description_{{ i }}"
						></bg-formfield-text>

						<button
							*ngIf="!showAdvanced[i]"
							(click)="showAdvanced[i] = true"
							type="button"
							class="u-text-link-small u-margin-yaxis2x"
						>Mostrar opções avançadas
						</button>

						<ng-template [ngIf]="showAdvanced[i]">
							<button
								(click)="showAdvanced[i] = false"
								type="button"
								class="u-text-link-small u-margin-yaxis2x"
							>Esconder opções avançadas
							</button>

							<label class="forminput-x-label u-margin-top2x"
							       for="forminput2"
							>Framework</label>
							<input type="text"
							       id="forminput2"
							       name="forminput2"
							>

							<label class="forminput-x-label u-margin-top2x"
							       for="url"
							>Code</label>
							<input type="text"
							       id="url"
							       name="url"
							>
						</ng-template>

					</div>

				</div>
			</ng-container>

			<div class="l-stack">
				<button
					(click)="addAlignment()"
					type="button"
					class="button button-secondary"
				>
					Adicionar Alinhamento
				</button>
			</div>

		</div>
	</div>

	<!-- tags -->
	<div *ngIf="tagsEnabled"
	     class="formsection"
	>
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Etiquetas
				<span>(Opcional)</span>
			</h2>
			<button
				type="button"
				(click)="disableTags()"
				class="buttonicon buttonicon-link"
			>
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">What are Tags?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				As etiquetas são formas opcionais de descrever um tipo de conquista. Ao usar etiquetas, você ajuda as pessoas interessadas
                                em seu tópico, encontrar seu badge.
			</p>
		</div>
		<div class="formsection-x-body">

			<div class="l-tags">
				<div
					*ngFor="let tag of tags"
					class="tag tag-withclose"
				>
					{{ tag }}
					<button class="buttonicon buttonicon-link">
						<svg
							icon="icon_close"
							(click)="removeTag(tag)"
						></svg>
						<span class="visuallyhidden">Remove</span>
					</button>
				</div>
			</div>

			<div class="forminput forminput-withbutton forminput-light1 u-width-formsmall u-margin-top3x">
				<label class="forminput-x-label visuallyhidden"
				       for="addtag"
				>Adicionar etiqueta</label>
				<div class="forminput-x-inputs">
					<input
						name="addtag"
						id="addtag"
						(keypress)="handleTagInputKeyPress($event)"
						#newTagInput
						type="text"
						maxlength="50"
						placeholder="New Tag..."
					>
					<div class="forminput-x-button">
						<button
							type="button"
							(click)="addTag()"
							class="button button-secondary button-informinput"
						>
							Adicionar
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- expiration -->
	<div *ngIf="expirationEnabled"
	     class="formsection"
	>
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Expiração
				<span>(Opcional)</span>
			</h2>
			<button
				type="button"
				(click)="disableExpiration()"
				class="buttonicon buttonicon-link"
			>
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Fechar</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">O que é expiração?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Adicione a duração pela qual este badge é geralmente válido. Isso também pode ser alterado no momento da premiação. Badges irão	
				ser marcados como expirados após a expiração.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="l-spacestack">
				<bg-formfield-text
					[control]="expirationForm.rawControlMap.expires_amount"
					label="Number"
					[fieldType]="'number'"
					[max]="1000"
					[maxchar]="4"
				></bg-formfield-text>
				<bg-formfield-select
					ariaLabel="Selecione duração"
					[control]="expirationForm.rawControlMap.expires_duration"
					label="Duração"
					[placeholder]="'Selecione a duração'"
					[optionMap]="durationOptions"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<!-- add options -->
	<div class="formsection formsection-nohelp">
		<h2 class="formsection-x-title">
			Detalhes opcionais
		</h2>
		<div class="formsection-x-body">
			<ul>
				<li class="l-flex l-flex-justifybetween l-flex-aligncenter u-padding-bottom2x">
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4"
						     width="24px"
						     viewBox="0 0 24 24"
						     icon="icon_link"
						></svg>
						<p class="u-text-body-semibold u-text-dark2">Alinhamento</p>
					</div>
					<button
						type="button"
						(click)="enableAlignments()"
						*ngIf="!alignmentsEnabled"
						class="u-text-link-small"
					>Adicionar
					</button>
					<button
						type="button"
						disabled
						*ngIf="alignmentsEnabled"
						class="u-text-link-small u-text-light4"
					>Adicionado
					</button>
				</li>
				<li class="l-flex l-flex-justifybetween l-flex-aligncenter border border-top border-light3 u-padding-yaxis2x">
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4"
						     width="24px"
						     viewBox="0 0 24 24"
						     icon="icon_tags"
						></svg>
						<p class="u-text-body-semibold u-text-dark2">Etiquetas</p>
					</div>
					<button
						type="button"
						(click)="enableTags()"
						*ngIf="!tagsEnabled"
						class="u-text-link-small"
					>Adicionado
					</button>
					<button
						type="button"
						*ngIf="tagsEnabled"
						disabled
						class="u-text-link-small u-text-light4"
					>Adicionado
					</button>
				</li>
				<li class="l-flex l-flex-justifybetween l-flex-aligncenter border border-top border-light3 u-padding-yaxis2x">
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4"
						     width="24px"
						     viewBox="0 0 24 24"
						     icon="icon_pending"
						></svg>
						<p class="u-text-body-semibold u-text-dark2">Expiração</p>
					</div>
					<button
						type="button"
						(click)="enableExpiration()"
						*ngIf="!expirationEnabled"
						class="u-text-link-small"
					>Adicionar
					</button>
					<button
						type="button"
						disabled
						*ngIf="expirationEnabled"
						class="u-text-link-small u-text-light4"
					>Adicionado
					</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="l-stack l-stack-right u-margin-top3x">
		<button
			type="button"
			[disabled-when-requesting]="true"
			(click)="cancelClicked()"
			class="button button-secondary"
		>Cancela
		</button>
		<button
			type="submit"
			class="button"
			[disabled]="!! savePromise"
			[loading-promises]="[ savePromise ]"
			loading-message="{{ submittingText }}"
		>{{ submitText }}</button>
	</div>

</form>
